# Dataset from Kaggle.com - MovieLens 100K Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
columns_names = ['user_id', 'item_id', 'rating', 'timestamp']

In [3]:
df = pd.read_csv('u.data', sep='\t', names=columns_names)

In [4]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [5]:
dt = pd.read_csv('u.item', sep='|',names=['item_id','name','z','random','idk']

SyntaxError: unexpected EOF while parsing (<ipython-input-5-b006d1a9c993>, line 1)

In [6]:
dt.head()

NameError: name 'dt' is not defined

In [7]:
# Cleaning the data
dt.drop(['z','random','idk'], axis=1, inplace=True)

NameError: name 'dt' is not defined

In [ ]:
df = pd.merge(df, dt, on ='item_id')

In [8]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('white')

In [10]:
# Mean rating of every movie title
df.groupby('title')['rating'].mean().sort_values(ascending=False).head()

KeyError: 'title'

In [11]:
# Number of reviews 
df.groupby('title')['rating'].count().sort_values(ascending=False).head()

KeyError: 'title'

In [12]:
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())

KeyError: 'title'

In [13]:
ratings['num_of_ratings'] = pd.DataFrame(df.groupby('title')['rating'].count())

KeyError: 'title'

In [14]:
 ratings.head()

NameError: name 'ratings' is not defined

In [15]:
ratings['num_of_ratings'].hist(bins=70)

NameError: name 'ratings' is not defined

In [16]:
ratings['rating'].hist(bins=70)

NameError: name 'ratings' is not defined

In [17]:
sns.jointplot(x='rating', y='num_of_ratings', alpha=0.5, data=ratings)

NameError: name 'ratings' is not defined

# Simple Recommendation System using item similarity

In [18]:
moviemat = df.pivot_table(index='user_id', columns='title', values='rating')

KeyError: 'title'

In [19]:
moviemat.head()

NameError: name 'moviemat' is not defined

In [20]:
starwars_user_rating = moviemat['Star Wars (1977)']
liarlair_user_rating = moviemat['Liar Liar (1997)']

NameError: name 'moviemat' is not defined

In [21]:
starwars_user_rating.head()

NameError: name 'starwars_user_rating' is not defined

In [22]:
similar_to_starwars = moviemat.corrwith(starwars_user_rating)

NameError: name 'moviemat' is not defined

In [23]:
similar_to_liarliar = moviemat.corrwith(liarlair_user_rating)

NameError: name 'moviemat' is not defined

In [78]:
corr_starwars = pd.DataFrame(similar_to_starwars, columns=['Correlation'])
corr_starwars.dropna(inplace=True)

In [79]:
corr_starwars.head()

                           Correlation
title
'Til There Was You (1997)     0.872872
1-900 (1994)                 -0.645497
101 Dalmatians (1996)         0.211132
12 Angry Men (1957)           0.184289
187 (1997)                    0.027398

In [81]:
corr_starwars.sort_values('Correlation', ascending=False).head(10)

                                                    Correlation
title
Hollow Reed (1996)                                          1.0
Commandments (1997)                                         1.0
Cosi (1996)                                                 1.0
No Escape (1994)                                            1.0
Stripes (1981)                                              1.0
Star Wars (1977)                                            1.0
Man of the Year (1995)                                      1.0
Beans of Egypt, Maine, The (1994)                           1.0
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Outlaw, The (1943)                                          1.0

In [82]:
corr_starwars = corr_starwars.join(ratings['num_of_ratings'])

In [83]:
corr_starwars.head()

                           Correlation  num_of_ratings
title
'Til There Was You (1997)     0.872872               9
1-900 (1994)                 -0.645497               5
101 Dalmatians (1996)         0.211132             109
12 Angry Men (1957)           0.184289             125
187 (1997)                    0.027398              41

In [85]:
corr_starwars[corr_starwars['num_of_ratings']>100].sort_values('Correlation', ascending=False).head()

,Correlation,num_of_ratings
title,,
Star Wars (1977),1.000000,583
"Empire Strikes Back, The (1980)",0.747981,367
Return of the Jedi (1983),0.672556,507
Raiders of the Lost Ark (1981),0.536117,420
Austin Powers: International Man of Mystery (1997),0.377433,130

In [86]:
corr_liarliar = pd.DataFrame(similar_to_liarliar, columns=['Correlation'])

In [88]:
corr_liarliar.dropna(inplace=True)

In [89]:
corr_liarliar = corr_liarliar.join(ratings['num_of_ratings'])

In [91]:
corr_liarliar[corr_liarliar['num_of_ratings']>100].sort_values('Correlation', ascending=False).head()

                       Correlation  num_of_ratings
title
Liar Liar (1997)          1.000000             485
Batman Forever (1995)     0.516968             114
Mask, The (1994)          0.484650             129
Down Periscope (1996)     0.472681             101
Con Air (1997)            0.469828             137